.container {
  min-width: 319px;
  max-width: 550px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 767px;
    max-width: 1000px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
