.page-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: $basic-black-2;
  padding: 30px;
}

.page-header__logo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100px;
  padding-left: 20px;

}


