// colors
$basic-white: #ffffff;
$basic-grey: #f2f2f2;
$basic-grey-2: #e6e6e6;
$basic-grey-3: #d9d9d9;
$basic-grey-4: #ebebeb;
$basic-grey-5: #eaeaea;
$special-grey: #cdcdcd;
$special-grey-2: #666666;
$special-grey-3: #dcdcdc;
$special-grey-4: #bababa;
$darck-grey: #e5e5e5;
$darck-grey-2: #e7e7e7;
$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$text-color: #444444;
$text-color-2: #222222;
$text-color-3: #111111;
$basic-black: #000000;
$basic-black-2:rgb(20, 20, 20);
$status-error: #ff8282;
$basic-orange: rgb(255, 180, 0);

// fonts
$primary-font: "Oswald", "Arial", sans-serif;

// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$tablet-width-2: 1010px;
$desktop-width: 1440px;
